
@{
    ViewBag.Title = "Create";
}

<h2>添加学生记录</h2>
<form action="/TestEF/Create" method="post">
    姓名：<input type="text"  name="Name"/><br />
    年龄：<input type="text" name="Age" /><br />
    <input type="submit" value="添加" />
</form>

