
@model List<WebApplication1.DBModel.Student>
@{
    ViewBag.Title = "Index";
}

<a href="/TestEF/Add">添加学生</a>

<table border="1" width="400">
    <caption>
        <font style="font-family:KaiTi;font-size:18pt;color:black">
            学生信息列表
        </font>
    </caption>

    <th>编号</th> <th>姓名</th> <th>年龄</th> <th>操作</th>

    @foreach (WebApplication1.DBModel.Student s in Model)
    {
        <tr>
            <td>@s.Id</td>
            <td>@s.Name</td>
            <td>@s.Age</td>
            <td>编辑  删除</td>
        </tr>
    }

</table>

