
@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/form.check.js" type="text/javascript"></script>

@section scripts {
    <script src="~/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
    <link href="~/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet">

    <script>
        $(document).ready(function () {

            $("#username").blur(function () {
                if (checkUsername()) {
                    $.ajax({
                        type: "post",
                        url: "CheckUsername",
                        data: "username=" + $("#username").val(),
                        dataType: "html",
                        success: function (msg) {
                            $("#username_tip").html(msg);
                        }
                    });
                }
            });

            $("#province").change(function () {
                var city = $("#city");
                switch ($(this).val()) {
                    case "": {
                        city.empty();
                        city.append("<option value=''></option>");
                        break;
                    }
                    case "湖北": {
                        city.empty();
                        city.append("<option value=''>武汉</option>");
                        city.append("<option value=''>荆门</option>");
                        city.append("<option value=''>襄阳</option>");
                        break;
                    }
                    case "浙江": {
                        city.empty();
                        city.append("<option value=''>杭州</option>");
                        city.append("<option value=''>宁波</option>");
                        city.append("<option value=''>温州</option>");
                        break;
                    }
                    case "江苏": {
                        city.empty();
                        city.append("<option value=''>南京</option>");
                        city.append("<option value=''>苏州</option>");
                        city.append("<option value=''>扬州</option>");
                        break;
                    }
                }
            });

            $("#birthday").datepicker({
                dateFormat: "yy-mm-dd",
                inline: true
            });

        });
    </script>
}




<br />
<font style="font-family:KaiTi;font-size:18pt;color:red;padding-left:60px" >
    请输入个人信息
</font>
<form action="/HTML/Login" method="post" enctype="multipart/form-data" >
    <table height="580">
        <!--<caption>
            <font style="font-family:KaiTi;font-size:18pt;color:red">
                请输入个人信息
            </font>
        </caption>-->

        <tr align="center">
            <td align="right">
                用户名
            </td>
            <td align="left">
                <input type="text" id="username" name="username" class="required"/>
                <span id="username_tip" style="color:red;">*</span>
            </td>
        </tr>

        <tr align="center">
            <td align="right">
                密码
            </td>
            <td align="left">
                <input type="password" id="pwd" name="pwd" class="required" maxlength="6" onblur="checkPwd()"/>
                <span id="pwd_tip" style="color:red;">*</span>
            </td>
        </tr>

        <tr align="center">
            <td align="right">
                确认密码
            </td>
            <td align="left">
                <input type="password" id="rePwd" name="rePwd" class="required" maxlength="6" onblur="checkRePwd()"/>
                <span id="re_pwd_tip" style="color:red;">*</span>
            </td>
        </tr>

        <tr align="center">
            <td align="right">
                性别
            </td>
            <td align="left">
                <input type="radio" name="sex" value="男" />男
                <input type="radio" name="sex" value="女" />女
            </td>
        </tr>

        <tr align="center">
            <td align="right">
                籍贯
            </td>
            <td align="left">
                <select id="province" name="province">
                    <option value="" selected="selected"></option>
                    <option value="湖北">湖北</option>
                    <option value="浙江">浙江</option>
                    <option value="江苏">江苏</option>
                </select>
                <select id="city" name="city">
                </select>
            </td>
        </tr>

        <tr align="center">
            <td align="right">
                Email
            </td>
            <td align="left">
                <input type="email" id="email" name="email" class="required" placeholder="如 biloba@gmail.com" onblur="checkEmail()"/>
                <span id="email_tip" style="color:red;">*</span>
            </td>
        </tr>

        <tr align="center">
            <td align="right">
                手机号
            </td>
            <td align="left">
                <input type="tel" id="tel" name="tel" maxlength="11" class="required" placeholder="11位，全数字" onblur="checkTel()"/>
                <span id="tel_tip" style="color:red;">*</span>
            </td>
        </tr>

        <tr align="center">
            <td align="right">
                专业特长
            </td>
            <td align="left">
                <select class="master" name="master" size=4 multiple="multiple">
                    <option value=".NET编程">.NET编程</option>
                    <option value="J2EE编程">J2EE编程</option>
                    <option value="Java编程">Java编程</option>
                    <option value="Android编程">Android编程</option>
                    <option value="C语言编程">C语言编程</option>
                </select>
            </td>
        </tr>

        <tr align="center">
            <td align="right">
                业余爱好
            </td>
            <td align="left">
                <input type="checkbox" name="habit" value="足球" />足球
                <input type="checkbox" name="habit" value="篮球" />篮球
                <input type="checkbox" name="habit" value="排球" />排球
                <input type="checkbox" name="habit" value="唱歌" />唱歌
                <input type="checkbox" name="habit" value="其他" />其他
            </td>
        </tr>

        <tr align="center">
            <td align="right">
                个人照片
            </td>
            <td align="left">
                <input type="file" name="pic" />
            </td>
        </tr>

        <tr align="center">
            <td align="right">
                出生年月
            </td>
            <td align="left">
                <input type="text" id="birthday" name="birthday" />
            </td>
        </tr>

        <tr align="center">
            <td align="right">
                备注信息
            </td>
            <td align="left">
                <textarea name="other" cols="24" rows="6" placeholder="可以补充一下"></textarea>
            </td>
        </tr>

        <tr align="center">
            <td></td>
            <td align="left">
                <input type="submit" value="提交"/>
                &nbsp; &nbsp;
                <input type="reset" value="重填"/>
            </td>
        </tr>

    </table>
</form>

<br /><br /><br /><br /><br />

<center>
    <table width="520px" height="240px">
        <caption>
            <font style="font-family:KaiTi;font-size:18pt;color:red">
                动漫欣赏
            </font>
        </caption>

        <tr align="center">
            <td>
                <a href="~/Resource/HTML练习/flash/大话G游1.swf">
                    <div align="center">
                        <img src="~/Resource/HTML练习/pic/1.bmp" />
                        <br />
                        <font style="font-size:8pt">
                            第一集
                        </font>
                    </div>
                </a>
            </td>

            <td>
                <a href="~/Resource/HTML练习/flash/大话G游2.swf">
                    <div align="center">
                        <img src="~/Resource/HTML练习/pic/2.bmp" />
                        <br />
                        <font style="font-size:8pt">
                            第二集
                        </font>
                    </div>
                </a>
            </td>

            <td>
                <a href="~/Resource/HTML练习/flash/大话G游3.swf">
                    <div align="center">
                        <img src="~/Resource/HTML练习/pic/3.bmp" />
                        <br />
                        <font style="font-size:8pt">
                            第三集
                        </font>
                    </div>
                </a>
            </td>
        </tr>

        <tr align="center">
            <td>
                <a href="~/Resource/HTML练习/flash/大话G游1.swf">
                    <div align="center">
                        <img src="~/Resource/HTML练习/pic/4.bmp" />
                        <br />
                        <font style="font-size:8pt">
                            第四集
                        </font>
                    </div>
                </a>
            </td>

            <td>
                <a href="~/Resource/HTML练习/flash/大话G游2.swf">
                    <div align="center">
                        <img src="~/Resource/HTML练习/pic/5.bmp" />
                        <br />
                        <font style="font-size:8pt">
                            第五集
                        </font>
                    </div>
                </a>
            </td>

            <td>
                <a href="~/Resource/HTML练习/flash/大话G游3.swf">
                    <div align="center">
                        <img src="~/Resource/HTML练习/pic/6.bmp" />
                        <br />
                        <font style="font-size:8pt">
                            第六集
                        </font>
                    </div>
                </a>
            </td>
        </tr>
    </table>
</center>