
@{
    ViewBag.Title = "Test";
}

<audio controls="controls" src="~/Resource/bg_music.mp3" autoplay="autoplay"></audio>
<!--<embed src="~/Resource/bg_music.mp3" loop="2" hidden="hidden"/>-->

<div id="title">
    <h1 align="left">biloba</h1>
    <h2 align="center">biloba</h2>
    <h3 align="right">biloba</h3>
    <h4 align="center">biloba</h4>
    <h5 align="center">biloba</h5>
    <h6>biloba</h6>
</div>

<center>
    <font style="font-family:黑体;font-size:12px;color:cornflowerblue">哈哈哈</font>
</center>

<div ailgn="right">
    <label for="username">用户名</label>
    <input id="username" type="text" />
    <span id="username_tip" style="color:red">*汉字、字母、下划线</span>
    <br />
    <label for="password">密&nbsp;&nbsp;&nbsp;&nbsp;码</label>
    <input id="password" type="password" />
    <span id="password_tip" style="color:red">*大于等于六位</span>
</div>

<ul style="list-style-type:georgian">
    <li>qwe</li>
    <li>rty</li>
    <li>uio</li>
</ul>

<center>
    <table width="520px" height="240px">
        <caption>
            <font style="font-family:方正舒体;font-size:24pt;color:red">
                动漫欣赏
            </font>
        </caption>

        <tr align="center">
            <td>
                <a href="~/Resource/HTML练习/flash/大话G游1.swf">
                    <div align="center">
                        <img src="~/Resource/HTML练习/pic/1.bmp" />
                        <br />
                        <font style="font-size:8pt">
                            第一集
                        </font>
                    </div>
                </a>
            </td>

            <td>
                <a href="~/Resource/HTML练习/flash/大话G游2.swf">
                    <div align="center">
                        <img src="~/Resource/HTML练习/pic/2.bmp" />
                        <br />
                        <font style="font-size:8pt">
                            第二集
                        </font>
                    </div>
                </a>
            </td>

            <td>
                <a href="~/Resource/HTML练习/flash/大话G游3.swf">
                    <div align="center">
                        <img src="~/Resource/HTML练习/pic/3.bmp" />
                        <br />
                        <font style="font-size:8pt">
                            第三集
                        </font>
                    </div>
                </a>
            </td>
        </tr>

        <tr align="center">
            <td>
                <a href="~/Resource/HTML练习/flash/大话G游1.swf">
                    <div align="center">
                        <img src="~/Resource/HTML练习/pic/4.bmp" />
                        <br />
                        <font style="font-size:8pt">
                            第四集
                        </font>
                    </div>
                </a>
            </td>

            <td>
                <a href="~/Resource/HTML练习/flash/大话G游2.swf">
                    <div align="center">
                        <img src="~/Resource/HTML练习/pic/5.bmp" />
                        <br />
                        <font style="font-size:8pt">
                            第五集
                        </font>
                    </div>
                </a>
            </td>

            <td>
                <a href="~/Resource/HTML练习/flash/大话G游3.swf">
                    <div align="center">
                        <img src="~/Resource/HTML练习/pic/6.bmp" />
                        <br />
                        <font style="font-size:8pt">
                            第六集
                        </font>
                    </div>
                </a>
            </td>
        </tr>
    </table>
</center>

<a href="#">返回顶部</a>