
@{
    ViewBag.Title = "Index";
}

<link rel="stylesheet" href="~/Content/menu.css" />

<ul id="menu">
    <li><a href="index.html">首页</a></li>
    <li><a href="fiance.html">财经</a></li>
    <li><a href="sports.html">体育</a></li>
    <li><a href="blog.html">博客</a></li>
    <li><a href="register.html">注册</a></li>
    <li><a href="contact.html">联系</a></li>
</ul>


